<div>

    <ul class="list-group">
      <li class="list-group-item">
        {{ mainItemCtrl.item.name }} |
        {{ mainItemCtrl.item.quantity }} |
        {{ mainItemCtrl.item.price }}
        <button class="btn btn-default" ng-click="mainItemCtrl.editItem()">
            <i class="fa fa-pencil-square-o"></i>
        <button class="btn btn-danger" ng-click="mainItemCtrl.deleteItem()">
            <i class="fa fa-trash-o"></i>
        </button>
        </button>
      </li>
    </ul>

</div>