<div class="row"> <!-- Main Row for Content -->
    <div class="col-md-10 col-md-offset-1"> <!-- Main Column to give content width and center -->

        <div class="row">
            <div class="col-md-4"> <!-- End First Column (Inner) -->

                <div class="well">
                        Search
                        <input ng-model="pageCtrl.grocery_search" class="form-control"></input>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add Grocery Item</h3>
                    </div>
                        <div class="panel-body">
                          <div class="form-group">
                            <form ng-submit="pageCtrl.saveItem(pageCtrl.editedItem)">
                                Item:
                                <input ng-model="pageCtrl.editedItem.name" class="form-control"></input><br>
                                How Many:
                                <input ng-model="pageCtrl.editedItem.quantity" class="form-control"></input><br>
                                Cost:
                                <input ng-model="pageCtrl.editedItem.price" class="form-control"></input><br>
                                <button class="btn btn-primary">Add Item</button>
                            </form>
                          </div>
                        </div>
                </div>
            </div>

            <div class="col-md-8">
                <div>
                <main-item 
                    ng-repeat="kroger_item in pageCtrl.grocery_items | filter:pageCtrl.grocery_search" 
                    item="kroger_item" 
                    delete="pageCtrl.deleteItem(itemToDelete)"
                >
                </div>
            </div> <!-- End Second Column (Inner) -->
        </div>

    </div> <!-- Ends Main Column -->    
</div> <!-- Ends Main Row -->